@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --opacity-play: 0;
    --bottom-opacity: 33%;
    --op2: 27%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #000000;
    color: #ffffff;
}
.container{
    display: flex;
    gap: 8px;
    padding: 8px;
}
.left{
    width: 24vw;
    height: 100vh;
    transition: all 0.5s;
}
.right{
    width: 76vw;
    padding: 20px;
    position: relative;
    height: 98vh;
}
.search{
    padding: 20px;
    position: relative;
}
#cross{
    position: absolute;
    top: 13px;
    right: 13px;
    width: 35px;
}
.search img{
    width: 86px;
    margin-bottom: 15px;
}
.search ul li img{
    width: 27px;
}
.search ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    font-weight: 700;
}
.first-li{
    margin-bottom: 20px;
}
.invert{
    filter: invert(1);
}

.library{
    margin-top: 8px;
    margin-bottom: 8px;
    height: calc(100vh - 219px);
    position: relative;
}
.library-title-first{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 8px;
    padding: 20px;
}
.home-icon{
    width: 27px;
}
.library-footer{
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}
.library-footer ul{
    display: flex;
    list-style: none;
    gap: 25px;
    flex-wrap: wrap;
}
.a-library-footer{
    font-size: 11px;
    list-style: none;
    color: #a7a7a7;
    text-decoration: none;
}
.left-nav, .right-nav{
    display: flex;
    gap: 10px;   
    align-items: center; 
}
.left-arrow, .right-arrow, .bell, .profile{
    background-color: #000000;
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    margin-top: -10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 52px;
}
#hamburger{
    cursor: pointer;
}
.right-btn1 button{
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    width: 100px;
    color: #a7a7a7;
    border-radius: 33px;
}
.right-btn2 button{
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: 700;
    width: 104px;
    border-radius: 33px;
    padding: 14px;
}
.right-btn1 :hover{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}
.right-btn2 :hover{
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}
.spotify-playlists-title h2{
    font-size: 24px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 20px;
}
.spotify-playlists-title :hover{
    text-decoration: underline;
}
.spotify-playlists{
    max-height: 70vh;
    overflow-y: auto;
}
.card{
    width: 200px;
    padding: 10px;
    background-color: #171717;
    border-radius: 8px;
    position: relative;
    transition: all 0.5s;
}
.card:hover{
    cursor: pointer;
    background-color: #202020;
    --opacity-play: 1;
    --bottom-opacity: 37%;
}
.card img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.card h2, .card p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
}
.card p{
    font-weight: 400;
    color: #b3b3b3;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.play{
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: #1ed760;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: 1px 5px 2px 2px #0000002e;
    bottom: var(--bottom-opacity);
    right: 8%;
    opacity: var(--opacity-play);
    transition: all 250ms ease-in-out;
}
.play img{
    width: 20px;
}
.songList{
    margin-left: 20px;
    margin-right: 20px;
}
.songList ul {
    list-style-type: decimal;
    overflow-wrap: break-word;
}
.info div{
    word-break: break-all;
}

.playbar{
    position: absolute;
    bottom: 0;
    background-color: #1b1b1b;
    color: white;
    width: 97%;
    min-height: 70px;
    margin-bottom: 12px;
    border-radius: 8px;
    left: 1.5%;
}

.progress-bar{
    position: absolute;
    bottom: 9px;
    width: 98%;
    height: 4px;
    left: 1%;
    background-color: white;
    cursor: pointer;
}
.circle{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: white;
    position: relative;
    bottom: 7px;
    left: -1%;
    transition: left 0.5s;
}
.prev-next{
    width: 25px;
}
.play-btn{
    width: 30px;
}
.songbuttons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.play-btn :hover{
    transform: scale(1.05);
}
.songbuttons div :hover{
    cursor: pointer;
}
.songList{
    max-height: 40vh;
    overflow: auto;
}

.songList ul{
    list-style: none;
}
.music-side-cover{
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}
.songList :hover{
    cursor: pointer;
}
.first-music-side-cover{
    display: flex;
    gap: 15px;
}
.play-music{
    display: flex;
    align-items: center;
    gap: 12px;
}
.play-music :hover{
    transform: scale(1.1);
}
.above-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 2%;
    margin-bottom: 20px;
    min-height: 50px;
}
#hamburger :hover{
    transform: scale(1.02);
}
#cross img{
    width: 100%;
}
.song-info{
    width: 150px;
}
.song-time{
    width: 150px;
}
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.song-vol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.volume :hover{
    cursor: pointer;
}
.temp-repeat{
    width: 50px;
}
.repeat{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}
.repeat img{
    width: 24px;
}

@media (max-width: 1248px) {
    .left{
        position: absolute;
        left: -120%;
        z-index: 1;
        width: 290px;
        background-color: #000000;
    }
    .right{
        width: 100vw;
    }
    .first-music-side-cover{
        width: 127px;
    }
    .left{
        position: fixed;
    }
}
@media (min-width: 1249px) {
    .right{
        opacity: 1;
    }
    #cross{
        display: none;
    }
    #hamburger{
        display: none;
    }
}
@media (max-width: 701px ){
    .card{
        font-size: 200%;
        width: 80vw;
    }
    .card-container{
        justify-content: center;
        align-items: center;
    }
    .above-bar{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .song-info{
        text-align: center;
    }
    .song-time{
        text-align: center;
    }
    .song-vol{
        flex-direction: column;
    }
    .play{
        bottom: var(--op2);
    }
    .card:hover{
        cursor: pointer;
        background-color: #202020;
        --opacity-play: 1;
        --op2: 37%;
    }
    .spotify-playlists{
        overflow-y: unset;
    }
    .playbar{
        position: fixed;
        bottom: -1.3%;
    }
    .card-container{
        margin-bottom: 20vh;
    }
}
@media (max-width: 340px) {
    .right-btn1 button{
        width: 80px;
    }
    .right-btn2 button{
        width: 76px;
    }
}